.intro {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
}
.title {
  font-size: 2em;
  text-shadow: 0 4px 0 var(--psColorsOrange), 0 7px 0 var(--psColorsPink);
  font-weight: 800;
}

.points {
  padding: var(--psLayoutSpacingLarge);
}
.points li {
  font-size: 2em;
  line-height: 2em;
}
